/* GetAllPins component  */

.all-pins-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
}

.all-pins-image-container {
    width: 95%;
    columns: 4;
    column-gap: 15px;
    padding: 15px;
}

.all-pins-image {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;  
    transition: filter 0.2s ease-in-out;
}

.each-pin-container:hover .all-pins-image {
    filter: brightness(70%);
}

.each-pin-container {
    position: relative;
}

.all-pins-hover-over-container-bottom {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FAF9F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}
.image-hover-over-left-section {
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

#image-hover-over-font{
    font-size: 14px;
    padding: 5%
}

.image-hover-over-right-section {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 15%;
    justify-content: space-around;
    
}

#material-symbols-comment {
    font-size: 20px;
}

.all-pins-hover-over-container-top {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#getAllPin-add-profile-icon {
    font-size: 30px;
    color: #363636;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    background-color: rgba(250,249,246, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter .3s ease-out;
    margin-left: 5px;
}

#getAllPin-add-profile-icon:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(90%)
};

#material-icons-favorite {
    color: #363636;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    background-color: rgba(250,249,246, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#all-pins-material-icons-favorite {
    color: #E6E4D7;
    cursor: pointer;
}

#all-pins-material-icons-favorite-added {
    color: red;
    cursor: pointer;
}

#material-icons-favorite {
    cursor: pointer;
}

/* getSinglePin component  */

.single-pin-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single-pin-upper-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-pin-upper-inner-container {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-pin-upper-inner-right-container {
    border: 1px solid lightgray; 
    box-shadow: 0px 0px 10px 2px rgba(147, 145, 145, 0.4);
    width: 95%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}

.single-pin-upper-left-container {
    width: 40%;
    height: 100%;
}

.single-pin-upper-left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.single-pin-upper-inner-left-container {
    width: 5%;
    text-decoration: none;
}

.single-pin-upper-inner-left-container:visited {
    color: inherit;
}

.single-pin-upper-right-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-pin-upper-right-inner-container-top {
    width: 90%;
    height: 80%;
    overflow-y: auto;
    border: 1px solid black;
}

.single-pin-upper-right-inner-container-bottom {
    width: 90%;
    height: 20%;
    border: 2px solid pink;
}

.sinlge-pin-title-save-btns-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.single-pin-title {
    font-size: 23px;
    width: 60%;
    color: #363636;
}

.single-pin-save-btn-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.single-pin-image-info-container {
    height: 10%;
}

.user-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    margin-top: 2%;
}

.single-pin-user-info-left-container {
    display: flex;
    flex-direction: row;
}

.single-pin-user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(233,233,233);;
}

.single-pin-user-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.single-pin-user-info-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.single-pin-user-name {
    font-size: 20px;
    font-weight: 500;
}

.single-pin-user-followers-container {
    color: rgb(21,21,21);
    font-size: 15px;
}

.comment-container {
    overflow-y: auto;
    margin-top: 2%;
    width: 100%;
    /* height: auto; */
}

.comment-upper-container {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-bottom-content-container {
    width: 100%;
}

.single-pin-show-comment-icon {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 1%;
}

#material-symbols-expand {
    font-size: 25px;
    font-weight: 800;
}

#material-symbols-outlined {
    font-weight: 1000;
}

.material-symbols-outlined-container {
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
}

.material-symbols-outlined-container:hover {
    background-color: rgb(239,239,239);
}

.single-pin-bottom-container {
    height: 100vh;
}

.single-pin-more-like-this {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
}

.createPin-link {
    cursor: pointer;
}

/* Create pin  */

#title-input,
#about-pin-input {
    border: none;
    outline: none; 
    border-bottom: .7px solid rgb(118,118,118); 
}

#title-input {
    height: 10%;
    font-size: 30px;
    font-weight: 700;
}

#about-pin-input,
#about-pin-input-clicked {
    min-height: 10%;
    font-size: 17px;
    font-weight: 200;
    overflow: hidden;
    resize: none;
    width: 90%;

}

#about-pin-input-clicked {
    border: none;
    outline: none; 
    /* width: 80%; */
    border-bottom: 2px solid rgb(118,118,118); 
}

#about-pin-input::placeholder,
#about-pin-input-clicked {
    font-size: 18px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#title-input::placeholder {
    font-size: 30px;
    font-weight: 700;
    color: rgb(118,118,118)
}

.create-pin-main-container {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(233,233,233);
}

.create-pin-inner-container {
    width: 60%;
    height: 90%;
    border-radius: 20px;
    border: 1px solid lightgray; 
    box-shadow: 0px 0px 10px 2px rgba(147, 145, 145, 0.2);
    background-color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.create-board-container {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-board-inner-contaner {
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-pin-form-content-container {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    position: relative;
}

.create-pin-content-container {
    display: flex;
    flex-direction: column;
}

.image-drop-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-pin-selected-image-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-drop-inner-conatiner {
    background-color: rgb(239,239,239);
    height: 90%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-pin-selected-image-inner-container {
    height: 90%;
    width: 90%;
}

#selected-pin-create {
    height: 90%;
    width: 100%;
    border-radius: 20px;
}

#image-drop-zone {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(218,218,218);
    border-radius: 20px;

}



.material-symbols-upload-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(95,95,95);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#material-symbols-upload {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(239,239,239);
}

#image-drop-zone p {
    font-weight: 500;
    margin-top: 8%;
    color: rgb(29,29,29);
}

.create-pin-content-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-pin-content-inner-container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    
}

.create-pin-user-info-container {
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
}

.create-pin-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(233,233,233);
    color: rgb(17,17,17);
    font-weight: 600;
    font-size: 20px;
}

.create-pin-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.create-pin-user-follower-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

div.username {
    font-weight: 600;
    font-size: 15px;
}

div.follower {
    font-size: 15px;
}

.about-pin-input-warning {
    font-size: 13px;
    color: rgb(118,118,118);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text-container {
    flex: 1 0 auto;
}

#about-pin-counter {
    font-weight: 700;
    color: black;
    flex: 0 0 auto;
    white-space: nowrap;
}

.create-pin-save-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.delete-pin-btn {
    position: absolute;
    bottom: 5%;
}

.create-pin-textarea-container {
    width: 100%;
    position: relative;
}

.create-pin-emoji-container,
.edit-pin-emoji-container {
    position: absolute;
    right: 0%;
    top: 10%;
}


div .EmojiPickerReact {
    --epr-picker-height: 500px;
}

.emoji-picker-container {
    position: absolute;
    left: -20%;
    bottom: 30px;
}

.edit-pin-emoji-picker-container {
    position: absolute;
    z-index: 13;
}


#material-symbols-clear-form {
    font-weight: 700;
    color:rgb(95,95,95);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

}

#material-symbols-clear-form:hover {
    background-color: rgb(239,239,239);
}

.edit-pin-main-container {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-pin-inner-container {
    width: 90%;
    height: 90%;
}

.delete-pin-modal-container {
    height: 30vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delete-pin-modal-inner-container {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-pin-modal-title {
    height: 35%;
    font-size: 28px;
    font-weight: 500;
}

.delete-pin-warning {
    height: 40%;
    font-size: 18px;

}

.delete-pin-btn-container {
    height: 25%;
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}

.detail-page-add-to-board-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-page-add-to-board-dropdown-container {
    position: absolute;
    top: 45px;
    width: 400px;
    right: 0;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray; 
    box-shadow: 0px 0px 10px 2px rgba(147, 145, 145, 0.4);
}

.detail-page-add-to-board-save-btn {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-left: 5%;
    background-color:rgb(230,0,35);
    transition: filter .3s ease-in-out;
    cursor: pointer;
}

.detail-page-add-to-board-save-btn:hover {
    filter: brightness(90%);
}

.detail-page-add-to-board-save-btn-disabled {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-left: 5%;
    background-color: #D3D3D3;
    cursor: not-allowed;
}

.single-pin-follow-button {
    width: 80.75px;
    height: 48px;
    border-radius: 20px;
    background-color: rgb(230,0,35);
    font-weight: 600;
    color: white;
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-pin-follow-button:hover {
    filter: brightness(95%);
}

.edit-non-userPin-form-container {
    height: 70vh;
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-non-userPin-form-inner-container {
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.edit-non-userPin-form-title {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--charcoal-grey);
}

.edit-non-userPin-form-content-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-non-userPin-form-left-section {
    width: 45%;
    height: 100%;
    border-radius: 10px;

}

.edit-non-userPin-form-left-section>img {
    height: 100%;
    width: 100%;
    object-fit: fit;
    border-radius: 10px;
}

.edit-non-userPin-form-btn-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-non-userPin-form-btn-inner-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid black; */
}










