.userProfile-container {
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saved-pins-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfile-inner-container,
.saved-pins-inner-container {
    height: 95%;
    width: 95%;
}

.saved-pins-inner-container-title {
    font-weight: 600;
    font-size: 25px;
    margin: 2% 0; 
}

.saved-pins-pincard-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
}

.userProfile-user-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile-img {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(233,233,233);
    font-size: 40px;
    font-weight: 550;
    color: rgb(17,17,17);
}

.user-profile-img-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-username {
    font-size: 30px;
    color: rgb(95,95,95);
}

.user-profile-email {
    font-size: 100;
    color: rgb(95,95,95);
    font-size: 10px;
}

.user-profile-follow {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: rgb(95,95,95);
    font-weight: 600;
}

.user-profile-follow-inner,
.user-profile-following-inner {
    cursor: pointer;
}

.user-profile-following-inner-disable,
.user-profile-following-inner-disable {
    cursor: not-allowed;
}


.user-profile-follow-inner div {
    margin-right: 3px;
}

.user-profile-following-inner div {
    margin-left: 3px;
}

.user-profile-following-inner-disable div {
    margin-left: 3px;
}

.userProfile-board-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.user-boards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board-card-container {
    width: 320px;
    height: 270px;
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 0;
}

.board-card-outer-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.board-card-inner-container {
    width: 100%;
    height: 100%;
}

.board-profile-container {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: filter 0.3s ease-in-out;
}

.board-profile-container:hover {
    filter: brightness(90%);
}

.board-profile-left-image-container {
    height: 100%;
    width: 70%;
    background-color: rgb(225,225,225);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.board-profile-left-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.board-profile-right-image-container {
    height: 100%;
    width: 29.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-profile-right-image-container-top,
.board-profile-right-image-container-bottom {
    height: 49.5%;
    width: 100%;
    background-color: rgb(225,225,225);
}

.board-profile-right-image-container-top {
    border-top-right-radius: 10px;
}

.board-profile-right-image-container-bottom {
    border-bottom-right-radius: 10px;
}


.board-profile-right-image-container-top img,
.board-profile-right-image-container-bottom img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.board-profile-right-image-container-top img {
    border-top-right-radius: 10px;
}

.board-profile-right-image-container-bottom img {
    border-bottom-right-radius: 10px;
}

.board-profile-info-container {
    width: 100%;
    margin-top: 7px;
}

.board-profile-name {
    font-size: 20px;
    font-weight: 600;
}

.num-of-pins {
    font-size: 15px;
    color:rgb(95,95,95)
}

.userProfile-page-select-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userProfile-page-select-container div {
    font-size: 20px;
    font-weight: 600;
    color: rgb(57, 54, 70);
    margin-right: 10px;
    cursor: pointer;
}

.user-profile-selected {
    border-bottom: 3px solid rgb(57, 54, 70);
}

.userProfile-create-board-icon-container {
    font-size: 35px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userProfile-create-board-icon {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.userProfile-create-board-icon:hover {
    background-color: var(--lightgrey-hover-background-color);
}

.board-card-hover-over-container {
    position: absolute;
    right: 2%;
    top: 60%;
    cursor: pointer;
}

.userProfile-follow-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

.saved-pin-single-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 370px;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid var( --lightgrey-hover-background-color);
    box-shadow: var(--box-shadow);
    position: relative;
}

.saved-pin-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.saved-pin-title {
    font-weight: 500;
    color: var(--charcoal-grey);
    margin-top: 1%;
    margin-left: 2%;

}

.saved-pin-user-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 2%;
}

.saved-pin-user-img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 2%;
    background-color: var(--lightgrey-hover-background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.saved-pin-user-info-container div {
    color: var(--charcoal-grey);
    font-weight: 500;
}

#saved-pin-add-profile-icon{
    font-size: 30px;
    color: #363636;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    background-color: rgba(250,249,246, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    top: 2%;
    left: 2%;
}

.saved-idea-empty {
    color: #0366d6; 
    text-decoration: none;
    font-weight: bold;
}

.saved-idea-empty:hover {
    color: #0a66c2;
    text-decoration: underline;
}