.grey-background-btn-container {
    width: 80.75px;
    height: 48px;
    border-radius: 20px;
    color: #111111;
    font-weight: 600;
    background-color: rgb(239,239,239);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grey-background-btn-container:hover {
    filter: brightness(95%);
}

.red-background-btn-container {
    background-color: rgb(230,0,35);
    transition: filter 0.2s ease-in-out;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: none;
}

.red-background-btn-container:hover {
    filter: brightness(95%);
}

.red-background-btn-container-disabled {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: not-allowed;
    border: none;
    background-color: #D3D3D3;
}

.black-background-btn-container {
    height: 38px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    background-color: #111111;
}

.black-background-btn-container:hover {
    filter: brightness(70%);
}